@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Poppins', sans-serif;
}

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.8), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }

.font-name {
    font-family: 'Poppins', sans-serif;
}

/*Header Styles*/
.header-style {
    background-color: #0605AB;
    border-radius: 10px 10px 0 0;
    color: white;
    display: flex;
    align-items: center;
    height: 50px;
    padding-top: 8px;
    padding-left: 10px;
}

.header-style h3 {
    font-size: 16px;
    font-weight: 500;
}

/*Main Card Style*/
.main-card {
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/*Dashboard-Form-Header*/
.dashboard-form-header {
    border-bottom: 2px solid #D9D9D9;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

    .dashboard-form-header h3 {
        margin: 0;
        font-weight: 700;
        font-size: 26px;
        color: #2d2d2dff;
    }

    .dashboard-form-header button {
        background-color: #0605AB;
        color: white;
        font-weight: 500;
        border-radius: 10px;
        box-shadow: 0 2px 6px rgba(0,0,0,0.5);
    }

        .dashboard-form-header button:hover {
            background-color: #1b6ec28f;
            color: black;
        }

.form-details {
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.form-date-none {
    color: white;
    background-color: darkgray;
    border-radius: 10px 10px 0 0;
    max-width: 180px;
}

.form-date {
    color: white;
    background-color: #2237c6b2;
    border-radius: 10px 10px 0 0;
    max-width: 180px;
}

.form-date h6 {
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
    margin: 0;
}


.form-date-none h6 {
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
    margin: 0;
}

.form-body-none {
    border: 2px dashed #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 0 10px 10px 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

    .form-body-none span {
        color: #D9D9D9;
        font-size: 20px;
    }

    .form-body-none i {
        font-size: 50px;
        color: #D9D9D9;
    }

.form-body {
    border: 2px solid #d9d9d9cb;
    border-radius: 10px 10px 10px 10px;
    padding-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-body-header {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid #D9D9D9;
    background-color: #F5F6FB;
    /*
        background-color: #F5F6FB;
    */
}

    .form-body-header h2 {
        font-weight: bold;
        font-size: 25px;
        margin: 0;
    }

    .form-body-header small {
        font-weight: 300;
    }

.form-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 20px;
    border-bottom: 1px solid #D9D9D9;
    border-top: 1px solid #D9D9D9;
}

    .form-title:hover {
        background-color: #4269E2;
        color: white;
        border: 1px solid transparent;
    }

.form-title-open {
    border: 1px solid transparent;
    background-color: #4269E2; 
    color: white;
}

    .form-title h5 {
        font-size: 17px;
        font-weight: bold;
        margin: 0;
    }


/*Table Styles*/

.custome-table thead th {
    border-bottom: 1px solid #D9D9D9 !important;
    background-color: #258cfb33 !important;
}

.custome-table tbody td {
    font-weight: 400; /* normal */
    font-size: 13px;
}


.custome-table thead th {
    font-weight: 500 !important;
    font-size: 13px;
}

/*Filter Tracking Styles*/
.filter-tracking-header {
    padding: 15px 10px 10px 10px;
}

.filter-tracking-name h6 {
    font-size: 17px;
    font-weight: bold;
    color: #2d2d2dff;
    margin-left: 2px;
}

.filter-tracking-button {
    background-color: #d9d9d92f;
    padding: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

    .filter-tracking-button span {
        font-size: 15px;
        margin: 0;
        font-weight: 600;
        color: #4269E2;
    }

.id-search {
    padding-left: 10px;
    padding-right: 10px;
}

    .id-search input {
        border: 1px solid #D9D9D9;
        font-weight: lighter;
    }

    .id-search button {
        border: none;
        background-color: #0605AB;
        color: white;
        border-radius: 5px;
        margin-left: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
.filter-tracking-year span{
    font-size: 15px;
}

.filter-tracking-year small {
    font-weight: 300;
    font-size: 12px;
}

/*Purchase Group Styles*/
.purchase-group {
    border-left: 2px solid #4269E2;
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.purchase-group-header {
    border: 1px solid #D9D9D9;
    padding: 10px;
    padding-right: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #258cfb1c
}

    .purchase-group-header h5 {
        font-size: 15px;
        font-weight: bold;
        margin: 0;
    }


.purchase-edit {
    color: #4269E2;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

.purchase-delete {
    color: red;
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

.purchase-group-details {
    padding: 10px;
}

.purchase-group-details strong {
    font-weight: lighter;
    font-size: 13px;
    color: gray;
}

.purchase-group-details span {
    font-weight: 500;
    color: black;
}

/*Entry Form Styles*/
.entry-form-bg {
    background-color: #f5f5f5;
}

.entry-purchase-order {
    background-color: white !important;
    border: 1px solid #D9D9D9;
    border-radius: 0 10px 10px 10px;
    padding: 8px;
}

    .entry-purchase-order:hover {
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

.entry-name {
    border-radius: 10px 10px 0 0;
    color: white;
    margin: 0;
    width: 300px;
    background-color: #4269E2;
    padding: 10px;
}

    .entry-name h5 {
        font-size: 17px;
        font-weight: bold;
        margin: 0;
    }

.entry-input-title label {
    font-weight: lighter;
    font-size: 13px;
    color: dimgray;
}

.custom-input {
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    padding: 8px 12px;
    font-size: 14px;
    background-color: white;
}

    .custom-input:focus {
        border-color: #258cfb40;
        box-shadow: 0 0 4px rgba(173, 216, 230, 0.8);
    }

.entry-add-button {
    color: white;
    background-color: #4269E2;
    border-radius: 5px;
}

    .entry-add-button:focus {
        border-color: #258cfb40 !important;
        box-shadow: 0 0 4px rgba(173, 216, 230, 0.8) !important;
        outline: none !important; /* removes default outline */
    }

.
