@inherits LayoutComponentBase
@inject DialogService DialogService
<RadzenLayout>
    <RadzenComponents />
    <RadzenHeader>
        <RadzenTheme Theme="material"></RadzenTheme>
        <RadzenStack Orientation="Orientation.Horizontal" Wrap="FlexWrap.Wrap" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween" style="background-color: #333333">
            <!-- Left Stack -->
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="-25px">
                <img src="https://agusandelsur.gov.ph/wp-content/uploads/2023/03/Agusan-del-Sur-Logo.png"
                     alt="Agusan del Sur Logo"
                     style="width: 50px; height: 50px; border-radius: 50%; margin-right: 20px; background-color: white; padding: 5px;"/>

                <div style="display: flex; flex-direction: column;">
                    <span style="font-family: 'Poppins', sans-serif; font-size: 26px; font-weight: bold; color: #F5F5F5;">
                        Inventory System
                    </span>
                    <span style="font-family: 'Poppins', sans-serif; font-size: 14px; color: #E0F2F1;">
                        Patin-ay National High School
                    </span>
                </div>

               
            </RadzenStack>
        


            <!-- Right Stack -->
            <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="5px">
                <RadzenAppearanceToggle />
                <RadzenButton ButtonStyle="ButtonStyle.Base" Variant="Variant.Text" Icon="format_paint" />
                <RadzenButton ButtonStyle="ButtonStyle.Base" Variant="Variant.Text" Icon="account_circle" />
            </RadzenStack>
        </RadzenStack>


    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebar1Expanded">
        <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Center" Gap="10px"
                     Style="padding: 20px; text-align: center;">
            <img src="https://thumbs.dreamstime.com/b/d-icon-avatar-cartoon-cute-freelancer-woman-working-online-learning-laptop-transparent-png-background-works-embodying-345422695.jpg" alt="User Picture" class="user-picture rounded-circle"
                 style="width: 150px; height: 150px;" />
            
            
   
                <RadzenLabel Text="Pacita Apolinaria Andahan" Style="font-weight: bold; font-size: 15px; color: #333;" />
     
   

        </RadzenStack>
        <div class="rz-p-4">
            <NavMenu />
        </div>
    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>

</RadzenLayout>

@code {
    bool sidebar1Expanded = true;
}